<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- top menu  -->

    <menuitem 
        name="Films" 
        id="films_menu_root"/>

    <!-- films -->

    <menuitem 
        name="Films data" 
        id="films_menu" 
        parent="films_menu_root"/>
    <menuitem 
        name="List" 
        id="film_list_menu" 
        parent="films_menu"
        action="film_list_action"/>
    <menuitem 
        name="Tags" 
        id="film_list_tags_menu" 
        parent="films_menu"
        action="film_list_tags_action"/>

</odoo>